<% content_for :head do %>
  <title>Log In</title>
<% end %>

<% provide(:title, "Log In") %>

<div id="login" class="col-md-8 col-md-offset-2">
<div class="explanatorytxt">
User accounts will be used for functions not currently operational.  User accounts are subject to change at any time; site functionality is still a work in progress.  Email <a href="/users/1">me</a> if you have any problems with the website.  Please check back for updates.  (as of Jan 19 2016)
</div>
</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_for(:session, url: login_path) do |f| %>
				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>

				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>

				<br>				
				<%= f.submit "Log In", class: 'btn btn-primary' %>
			<% end %>

			<p>New user? <%= link_to "Sign up for an ID!", signup_path %> </p>
		</div>
	</div>	

