<% content_for :head do %>
  <title>Sign Up</title>
<% end %>

<div id="signup" class="col-md-8 col-md-offset-2">
	<div class="explanatorytxt">
			User accounts will be used for functions not currently operational.  User accounts are subject to change at any time; site functionality is still a work in progress.  Email <a href="/users/1">me</a> if you have any problems with the website.  Please check back for updates.  (as of Jan 12 2016)
	</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>			

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "Email (this will be your login)" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Please type your password again" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
