<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body> 
  <canvas id="bgfill"></canvas>
      <!--@TODO: canvas not using custom font on heroku -->
      <canvas id="blogo" width="1000" height="120"> 
	<!--TODO: put fallback img inside here for older browsers-->
	<%= image_tag "backuplogo.png" %>
	<!--  -->
      </canvas>
    <nav>
      <ul id="navbar">
	<% [["Home", :root], ["About Us", :about], ["Our Clients", :clients], ["Contact Us", :contact], ["Log In / Sign Up", :signup]].each do |name,url| %>
	  <li><%= link_to_unless_current(name, url) %></li>
	<% end %>
      </ul>
    </nav>
  <div id="content-container">
    <%= yield %>
		<%= debug(params) if Rails.env.development? %>
    <br/> 
  </div>

</body>
</html>
