<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<div id="logo_top">
	<%= image_tag "banner-w724px.jpg" %>
</div>

    <nav>
      <ul id="navbar">
	<% [["Home", :root], ["About Us", :about], ["Our Clients", :clients], ["Contact Us", :contact], ["Employment", :employment], ["Sign Up", :signup], ["Log In", :login]].each do |name,url| %>
	  <li><%= link_to_unless_current(name, url) %></li>
	<% end %>
      </ul>
    </nav>
<body> 

<div class="container">
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
</div>

<div id="content-container">
    <%= yield %>

		<%= debug(params) if Rails.env.development? %> 
</div>

</body>
</html>
